<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Finmarkets Geofence Demo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map_canvas">
    </div>
</ion-content>
<div class="modal-hidden" [ngClass]="modalClass" id="bottom-modal">
    <ion-row>
        <ion-col size="8">
            <ion-range min="100" max="1000"
                       [pin]="true"
                       color="primary"
                       style="padding-top: 8px"
                       (ionChange)="manageModalEditRadius($event)"
                       (ionBlur)="manageBlur($event)"
            >

            </ion-range>
        </ion-col>
        <ion-col size="4">
            <ion-button color="danger">Remover</ion-button>
        </ion-col>
    </ion-row>
</div>
